</main>
    <footer>
      <div class="b3">
        <div class="container-Footer">
          <div class="col">
            <div class="single-box">
              <a href="/"><img src="../Assets/Logo/Blue.png" class="footer-logo"></a>
              <p>Ditch the garage headaches and get back on 
                the road faster with NearMe! Our app connects
                 you with trusted mechanics in Jordan, streamlining 
                 car maintenance and repairs. With a user-friendly 
                 interface and robust security, NearMe empowers you 
                 to find the perfect mechanic for your vehicle,  
                 whether it's a quick oil change or a major overhaul.</p>
              <p class="fonttext">NearMe Your trusted partner</p>
            </div>
          </div>
          <div class="col">
            <div class="single-box1">
              <h2>Company </h2>
                <ul>
                  <li class="footer-li">About us</li>
                  <li class="footer-li">Careers</li>
                  <li class="footer-li">Leadership</li>
                  <li class="footer-li">Partners</li>
                </ul>
            </div>
          </div>
          <div class="col">
            <div class="single-box1">
              <h2>Contact us</h2> 
                <ul>
                  <li class="footer-li"><i class='bx bxs-envelope'></i> nearme.jo@gmail.com</li>
                  <li class="footer-li"><i class='bx bxs-phone'></i> +962 XXX XXX XXX</li>
                  <li class="footer-li"><i class='bx bx-current-location'></i> Amman,Jordan</li>
                  <li class="footer-li"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3386.4149242757458!2d35.928844159584756!3d31.922490527272355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151b5f42d48e6c51%3A0x5bd48dccf64ebe22!2z2KfZhNiy2YfZiNix2Iwg2LnZhdmR2KfZhg!5e0!3m2!1sar!2sjo!4v1716740200248!5m2!1sar!2sjo"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></li>
                </ul>
            
              <h2>Social</h2>
                <p class="socials">
                    <a href=""><i class='bx bxl-facebook' ></i></a>
                    <a href=""><i class='bx bxl-twitter' ></i></a>
                    <a href=""><i class='bx bxl-instagram'></i></a>
                    <a href=""><i class='bx bxl-linkedin'></i></a>
                  
                </p>
                <br/>
              <h3>We Accept</h3>
              <div class="card-area">
                  <i class="fa fa-cc-visa"></i>
                  <i class="fa fa-credit-card"></i>
                  <i class="fa fa-cc-mastercard"></i>
                  <i class="fa fa-cc-paypal"></i>
              </div>
            </div>
          </div>  
        </div>  
      </div>
    </footer>
</body>
</html>