
<nav style="height: 80px; ">
    <ul class="sidebar">
       <li onclick=hideSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="32"
          viewBox="0 96 960 960" width="32"><path d="m249 849-42-42 231-231-231-231 42-42 231 231
           231-231 42 42-231 231 231 231-42 42-231-231-231 231Z"/></svg></a></li>
       <li><a href="#Services">Services</a></li>
       <li><a href="/ContactUs">Contact Us</a></li>        
       <li style="margin-right: auto;"><a href="/AboutUs">About us</a></li>
       <li><a href="/TechnicianSignup" class="btn-tech">Become a Technician</a></li>
       <li><a href="/TechnicianLogin" class="btn-tech">Login as a Technician</a></li>
       <li class="buttonStyle"><a href="/DriverSignup">Sign up</a></li>
       <li class="buttonStyle"><a id="StartPoint" href="/DriverLogin">Log in</a></li>
    </ul> 

     <label id="overly "for="showSidebar"></label>
    
    <ul style="margin-top: -13px;" >
       <li><a href="/"><img src="../Assets/Logo/White.png" class="logo-transparent"></a></li>
       <li class="hideOnMobile"><a href="#Service">Services</a></li>
       <li class="hideOnMobile"><a href="/ContactUs" role="button">Contact Us</a></li>
       <li class="hideOnMobile" style="margin-right: auto;"><a href="/AboutUs">About us</a></li>
       <a href="/TechnicianSignup" class="btn-tech hideOnMobile">Become a Technician</a>
       <a href="/TechnicianLogin" class="btn-tech hideOnMobile">Login as a Technician</a>
       <li class="hideOnMobile"><a href="/DriverSignup">Sign up</a></li>
       <li class="hideOnMobile" style="margin-right: 20px;"><a id="StartPoint" href="/DriverLogin">Log in</a></li>
       <li class="menu-button" onclick=showSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" 
         height="26" viewBox="0 96 960 960" width="26"><path d="M120 816v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z"/></svg></a></li>
    </ul> 
   </nav>