<nav>
  <ul class="sidebar">
     <li onclick=hideSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="32" 
       viewBox="0 96 960 960" width="32"><path d="m249 849-42-42 231-231-231-231 42-42 231 231 
       231-231 42 42-231 231 231 231-42 42-231-231-231 231Z"/></svg></a></li>
     <li class="sidebar-avatarCon">
       <div class="profile-container1">
         <div class="profile-picture1" onclick="toggleDropdown1()">
           <img src="../Assets/Icons/Avatar3.png" alt="Avatar" class="avatar">
           <h4 class="Username1"><%= user.username %> </h4>
         </div>
         <div class="dropdown-content1" id="dropdownContent1">
           <a href="/Technician/Profile">Profile</a>
           <a href="/Technician/Logout">Logout</a>
         </div>
       </div>
     </li>
     <li><a href="/Technician/Services">Workshop Services</a></li>
     <li><a href="/Technician/Map">Workshop Location</a></li>
     <!-- (Missing) -->
     <!-- <li><a href="/Technician/ServicesInformation">Services</a></li> -->
     <li><a href="/Technician/ContactUs">Contact Us</a></li>
     <li style="margin-right: auto;"><a href="/Technician/AboutUs">About us</a></li>
  </ul>

   <label id="overly "for="showSidebar"></label>
  
  <ul class="ul-User">
     <li><a href="/"><img src="../Assets/Logo/White.png" class="logo-transparent"></a></li>
     <!-- (Missing) -->
     <!-- <li class="hideOnMobile"><a href="/Technician/ServicesInformation">Services</a></li> -->
     <li class="hideOnMobile"><a href="/Technician/ContactUs" role="button">Contact Us</a></li>
     <li class="hideOnMobile" style="margin-right: auto;"><a href="/Technician/AboutUs">About us</a></li>
     <li class="hideOnMobile"><a href="/Technician/Map">Workshop Location</a></li>
     <li class="hideOnMobile"><a href="/Technician/Services">Workshop Services</a></li>
     <li class="hideOnMobile" style="padding: 0px; height: auto;">
       <div class="profile-container">
         <div class="profile-picture flex-ava" onclick="toggleDropdown()">
         <h4 class="Username"><%= user.username %> </h4>
           <img src="../Assets/Icons/Avatar3.png" alt="Avatar" class="avatar">
         </div>
         <div class="dropdown-content" id="dropdownContent">
           <a href="/Technician/Profile">Profile</a>
           <a href="/Technician/Logout">Logout</a>
         </div>
       </div>
       </li>
     <li class="menu-button" onclick=showSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 96 960 960" width="26"><path d="M120 816v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z"/></svg></a></li>
  </ul> 
 </nav>