body {
    background-color: #ebeaea;
    color: white;
    font-family: Arial;
}
.body-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-center{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: auto;
    background-color: rgb(255, 255, 255);
    color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(1, 1, 1, 0.4);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.input-Text{
    background: #ecebeb;
    height: 60px;
    width: auto;
    line-height: 40px;
    border-radius: 20px;
    padding: 0px 20px;
    border: none;
    color: rgb(0, 0, 0);
    border-color: rgb(81, 81, 81);
  }
h1 {
    margin-top: 40px;
    color: #0897f3;
}
form {
    display: block;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(100%);
    flex-direction: column;
    display: flex;
    gap: 5px;
}
.Checkbox-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type="checkbox"]{
    height: 25px;
    width: 25px;
    border-radius: 0.25em;
    position: relative;
    top: 2px;
    margin-right: 12px;
  }

.label1 {
    background: #ecebeb;
    width: 240px;
    height: 60px;
    line-height: 40px;
    border-radius: 20px;
    padding: 0px 20px;
    border: none;
    color: rgb(0, 0, 0);
    border-color: rgb(81, 81, 81);
    text-align: start;
    margin-top: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
}
button{
    background-color: #0276f2;
    height: 40px;
    line-height: 40px;
    border-radius: 17.3px;
    margin: 10px 50px;
    box-shadow: 0px 0px 2px rgb(0, 128, 255);
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}
button[type="submit"]:hover {
    background-color: #0056b3;
}
.Price-Tag{
    margin-left: 20px;
    color: black;
}
.Price-box{
    margin-left: 5px;
    width: 60px;
    height: auto;
}
.Price-box::after{
    color: black;
    content: "JOD";
}
.Error-input{
    margin: 10px;
    margin-left: 70px;
    display: none;
    color: red;
    font-size: 14px;
}
/* navbar */
.logo-transparent{
    width: 180px;
    height: auto;
    transition: all 0.4s;
}
nav{
    border-radius: 25px;
    margin: 20px 0px 0px;
    z-index: 99;
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    transition: all 0.4s;
    background-color: rgba(1, 1, 1, 0.75);
    backdrop-filter: blur(15px);
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-self: flex-end;
    align-items: center;
}
nav li{
    padding: 0px 8px;
    height: 60px;
}
nav li a{
    font-size: 20px;
    height: 100%;
    padding: 0px 25px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    font-family: Arial;
    transition: all 0.4s;
}
nav.scrolled li a{
    color: white;
}
nav li a:hover {
    color:white ;
    background-color: #0897f3;
    fill:#0c3e68 ;
    border-radius: 15px;
}
nav li:first-child{
    margin-right: auto;
}
.btn-tech{
    padding: 10px 25px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: 	#0897f3;
    font-family: Arial;
    transition: all 0.4s;
    font-weight: bold;
}
.btn-tech:hover{
    background-color: #0897f3;
    color: white;
    border-radius: 15px;
}   
.Avatar-icon{
    fill-opacity: white;
    width: 80px;
    height: auto;
}
.sidebar{
    z-index: 9999;
    position:fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color:  #326ea0fd;
    backdrop-filter: blur(999px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
nav a svg{
    fill: black;
    transition: all 0.3s;
}

.logo{
    padding: 20px;
    text-decoration: none;
    color: white !important;
    font-family: Arial;
    transition: all 0.4s;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-left: 200px;
    font-size: 20px;
}
.logo:hover{
    color:#0e5086 ;
    background-color: #FFC700;
    border-radius: 25px;
} 
.logo1{
    pointer-events: none; 
    margin-top: 10px;
    width: 40px;
    height: 40px;
} 
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
.menu-button{
    display: none;
}
/* navbar end */
/* Style the Avatar dropdown button */
.nav-user{
    height: 60px;
}
.ul-User{
    position: relative;
    top: 0;
    padding:  0 0 10px;
    height: 30px;
}
.profile-container{
    margin: 0 50px 8px;
    height: 20px;
}
.flex-ava{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 2px;
}
.Username{
    font-weight: 100;
  font-size: 22px;
  cursor:text;
  font-family: Arial	;
  color: white;
  cursor: pointer;
  margin: 0px 10px 5px 10px;
}
.Username1{
    font-weight: 100;
  font-size: 20px;
  position: absolute;
  right: 30px;
  top: 70px;
  font-family: Arial;
  color: white;
  cursor: pointer;
  margin: 0px 0px;
}
.Username2{
  font-size: 18px;
  position: absolute;
  right: 30px;
  top: 100px;
  font-family: Arial	;
  color: white;
  cursor: pointer;
  margin: 0px 10px;
}
.profile-picture {
    cursor: pointer;
}
.profile-picture:hover {
  cursor: pointer;
  background-color: #0897f3;
  border-radius: 20px;
}
.avatar {
  margin: 0px;
  width: 40px;
  height: auto;
  border-radius: 50%;
}
.dropdown-content {
  display: none;
  width: auto;
  height: auto;
  position: absolute;
  top: 50px;
  right: 60px;
  background-color: #0897f3;
  border-radius: 25% 0%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 999;
  transition: all 0.4s;
}
  
.dropdown-content a {
    color: white;
    padding: 8px 12px;
    margin: 5px 5px;
    border-radius: 20px;
    text-decoration: none;
    display: block;
    text-align: center;
    
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 20px;
    color: #0897f3;
}
/* User CSS For the sidebar*/
.nav-user1{
    height: 60px;
}
.ul-User1{
    position: relative;
    top: 0;
    padding:  0 0 10px;
    height: 30px;
}
.profile-container1{
    margin: 0 20px 20px;
    height: 20px;
}
.profile-picture1 {
    padding: 0;
    margin: 0;
    cursor: pointer;
    width: auto;
  }
  
.profile-picture1:hover {
  cursor: pointer;
  background-color: #0897f3;
  padding: 2px;
  border-radius: 20px;
}

.avatar1 {
  width: 70px;
  height: auto;
  border-radius: 50%;
}
  .sidebar-avatarCon{
    padding: 0px;
  }
  
  .dropdown-content1 {
    display: none;
    position: absolute;
    margin: 0px 10px ;
    top: 65px;
    right: 245px;
    border-radius: 25% 0%;
    background-color: #0897f3;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
    transition: all 0.4s;
  }
  
  
  .dropdown-content1 a {
    color: white;
    width: auto;
    height: auto;
    padding: 8px 12px;
    margin: 5px 7px ;
    border-radius: 20px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  .dropdown-content1 a:hover {
    background-color: #f1f1f1;
    border-radius: 20px;
    color: #0897f3;
  }
  /* end username profile  */
/* Sidebar media@ */
@media(min-width: 1371px){
    .hideOnMobile{
      display: none;
    }
    .menu-button{
      display: block;
    }
    .backgroundTop{
        width: 100%;
    }
    .imgtop{
        width: 100%;
    }
    .blackbackground{
        width: 100%;
    }
    html{
        width: 100%;
    }
    footer{
        position: relative;
        bottom: 0;
    }
}

@media(max-width: 1370px){
    .hideOnMobile{
      display: none;
    }
    .menu-button{
      display: block;
    }
    .backgroundTop{
        width: 1370px;
        height: 100vh;
    }
    .imgtop{
        width: 1370px;
        height: 100vh;
    }
    .blackbackground{
        width: 1370px;
        height: 100vh;
    }
    html{
        width:1370px;
    }
    .containerborder{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 0px;
        margin-bottom: 50vh;
        margin: 0px;
    }
    div.container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .card{
        height: 350px;
        width: 540px;
    }
}


@media(max-width: 400px){
    .sidebar{
      width: 100%;
    }
}

@media(min-width: 1370px){
    .hideOnMobile{
      display: flex;
    }
    .menu-button{
      display: none;
    }
    .sidebar{
        display: none;
        position: fixed;
        right: -100%;
        transition:  1s ease-out;
    }
}
/* Header  CSS End*/


























