<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Email</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="Style/forgetpassword.css">
</head>
<body>
    <div class="forgetpassdiv">
    <div class="flex-col">
    <a href="/"><img src="Assets/Logo/Blue1.png" class="logo-transparent-login"></a>
    <h1>Enter Your Email</h1>
    <form class="flex-col" action="/DriverSubmitEmail" method="POST">
        <div class="flex-col2">
            <label class="lable-text" for="email"></label>
            <input style="margin-bottom: 13px;" class="input-Text" type="email" id="email" name="email" placeholder="name@example.com" required>            
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
</div>
</body>
</html>