<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
    <link rel="stylesheet" href="../public/Style/Authentication.css">
</head>
<body>
    <div class="center">
        <img src="/public/Assets/Icons/wrong-icon.png">
        <h1 style="color: red;">Error: 401</h1>
        <h1 class="a">YOU ARE NOT AUTHENTICATED!</h1>
        <div>
            <ul>
                <li class=""><a href="/">Home</a></li>
            </ul>
        </div>
    </div>
</body>
</html>