<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Assets/Style/ServicesInformation.css">
    <title>NearME</title>
</head>
<body>
    <section id="Service">
        <div class="containerborder M80">
          <img src="Assets/Icons/wrench.png" class="wrench">
          <h1 class="OurServices-h1">Our Services</h1>
          <div class="container">
            <%# card1 %>
            <div class="">
              <div class="card" style="--clr: rgba(200,200,200);">
                  <img src="Assets/Services-pictures/New/towtruck.png" class="imgback">
                  <img src="Assets/Services-pictures/New/towtruck.png" class="imgFront">
              </div>
              <button class="btn btn-info" onclick="openPopup('popup1')">More info</button>
                <div class="popup" id="popup1">
                  <div class="popup-content">
                    <button class="close" onclick="closePopup('popup1')">&times;</button>
                    <br>
                    <h1 class="font1">Towing Truck Service</h1>
                    <br>
                    <p class="font">Wherever you are we are with you, in simple steps and in less than one minute you can request car tow (from-to) any direction upon your wish inside AMMAN with the best and lowest price ever:
                      
                    <ul>
                      <li class="font" id="content1"><b>19.90JOD</b> for the normal winch in the morning period.</li>
                      <li class="font" id="content2"><b>25JOD</b> for the normal winch in the evening period.</li>
                      <li class="font" id="content3"><b>30JOD</b> winch provided with crane and up to 20KM for one-way trip from the customer’s car location to the location he chooses in both periods.</li>
                    </ul>
                    </p>
                  </div>
                 </div>
              </div>
    
              <%# card2 %>
            <div class="">
              <div class="card" style="--clr: rgba(200,200,200);">
                  <img src="Assets/Services-pictures/New/changetire.jpg" class="imgback">
                  <img src="Assets/Services-pictures/New/changetire.jpg" class="imgFront">
              </div>
              <button class="btn btn-info" onclick="openPopup('popup2')">More info</button>
                <div class="popup" id="popup2">
                  <div class="popup-content">
                    <button class="close" onclick="closePopup('popup2')">&times;</button>
                    <br>
                    <h2 class="font1">Flat tire</h2>
                    <br>
                    <p class="font">How many times have you left your home and found
                       your car flat tire needs to change in a hot or cold weather,
                        or you will be late on your work,
                       don’t worry we are to help you, request change flat tire through NearMe
                        application and we will serve you.
                  </p>
                  </div>
                 </div>
              </div>
    
              <%# card3 %>
              <div class="">
              <div class="card" style="--clr: rgba(200,200,200);">
                <img src="Assets/Services-pictures/New/changeoil.jpg" class="imgback">
                <img src="Assets/Services-pictures/New/changeoil.jpg" class="imgFront">
            </div>
            <button class="btn btn-info" onclick="openPopup('popup3')">More info</button>
            <div class="popup" id="popup3">
              <div class="popup-content">
                <button class="close" onclick="closePopup('popup3')">&times;</button>
                <br>
                <h2 class="font1">Change oil</h2>
                <br>
                <p class="font">you can now change your car engine oil and filters,
                   just select your location through NearME application and ask for oil change service,
                    we will serve you in a short period of time and you can also make an appointment
                     for your suitable time.
                   We will guide you to assure that your car engine at the best performance.
              </p>
              </div>
             </div>
            </div>
    
    
            <%# card4 %>
             <div class="">
            <div class="card" style="--clr: rgba(200,200,200);">
              <img src="Assets/Services-pictures/New/changebattery.jpg" class="imgback">
              <img src="Assets/Services-pictures/New/changebattery.jpg" class="imgFront">
          </div>
          <button class="btn btn-info" onclick="openPopup('popup4')">More info</button>
          <div class="popup" id="popup4">
            <div class="popup-content">
              <button class="close" onclick="closePopup('popup4')">&times;</button>
              <br>
              <h2 class="font1">Change & replace battery</h2>
              <br>
              <p class="font">All you have to do is choose the battery services icon,
                 provide your car model and date of manufacture, and we will change
                  the car battery in the location you previously specified, you can
                   also request jump start service only or recharge
                 electric car battery to get you to the nearest power
                  supply provider
            </p>
            </div>
           </div>
          </div>
    
          <%# card5 %>
           <div class="">
          <div class="card" style="--clr: rgba(200,200,200);">
            <img src="Assets/Services-pictures/New/man-wearing-gloves-holding-wrench.jpg" class="imgback">
            <img src="Assets/Services-pictures/New/man-wearing-gloves-holding-wrench.jpg" class="imgFront">
        </div>
        <button class="btn btn-info" onclick="openPopup('popup5')">More info</button>
        <div class="popup" id="popup5">
          <div class="popup-content">
            <button class="close" onclick="closePopup('popup5')">&times;</button>
            <br>
            <h2 class="font1">Under hood service</h2>
            <br>
            <p class="font">
                we provide many services that will help under hood problem such as:
                <ul>
                  <li class="font">Air Filter Blower Motor Replacement.</li>
                <li class="font">General Maintenance.</li>
                <li class="font">Air Conditioner Filter Replacement.</li>
                </ul>
            </p>
          </div>
         </div>
        </div>
    
        <%# card6 %>
         <div class="">
        <div class="card" style="--clr: rgba(200,200,200);">
          <img src="Assets/Services-pictures/New/otherservices.jpg" class="imgback">
          <img src="Assets/Services-pictures/New/otherservices.jpg" class="imgFront">
      </div>
      <button class="btn btn-info" onclick="openPopup('popup6')">More info</button>
      <div class="popup" id="popup6">
        <div class="popup-content">
          <button class="close" onclick="closePopup('popup6')">&times;</button>
          <br>
          <h2 class="font1">Additional services</h2>
          <br>
          <p class="font">There's nothing to worry about from now on
    
            The new NearMe services were added to
             this section for everything that belongs 
             to car maintenance and special care, you
              can take advantage from this section with 
              many services such as fast maintenance in 
              the customer car's location such as brake
               replacement and the spark plugs and all 
               the filters and also the heavy maintenance
                which requires a maintenance center and so
                 we opened a repair shop for Mechanical and 
                 electric repair also a body and paint shop for
                  NearMe application to become the number one app 
                  that includes all your car's needs starting with
                   road services and ending with solving the hardest mechanical problems
             in our maintenance center managed by maintenance specialized experts and engineers.
          </p>
        </div>
       </div>
      </div>
    
          </div>
        </div>
        <div id="overlay" class="overlay" onclick="closeAllPopups()"></div>
    
      </section>
</body>
</html>
